
.icon-up-small:before { content: '\e800'; } /* '' */
.icon-help:before { content: '\e801'; } /* '' */
.icon-thumbs-up:before { content: '\e802'; } /* '' */
.icon-thumbs-down:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-info:before { content: '\e806'; } /* '' */
.icon-plus:before { content: '\e807'; } /* '' */
.icon-trash:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-cog:before { content: '\e80d'; } /* '' */
.icon-volume-off:before { content: '\e80e'; } /* '' */
.icon-volume-up:before { content: '\e80f'; } /* '' */
.icon-left-open:before { content: '\e810'; } /* '' */
.icon-right-open:before { content: '\e811'; } /* '' */
.icon-check:before { content: '\e812'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
