/*
 * Elisa: AI Learning Quiz
 * © 2025 Dennis Schulmeister-Zimolong <dennis@wpvs.de>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 */

/* Webfonts */
@font-face {
    /* Caprasimo Regular */
    font-display: swap;
    font-family: "display";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Caprasimo/Caprasimo-Regular.woff") format("woff2");
}

@font-face {
    /* Funnel Sans */
    font-display: swap;
    font-family: "normaltext";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Funnel_Sans/FunnelSans-VariableFont_wght.woff2") format("woff2");
}

@font-face {
    /* Funnel Sans */
    font-display: swap;
    font-family: "normaltext";
    font-style: italic;
    font-weight: 400;
    src: url("fonts/Funnel_Sans/FunnelSans-Italic-VariableFont_wght.woff2") format("woff2");
}

/* Global settings */
html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

html {
    font-family: "normaltext";
    font-size: 12pt;
}

body {
    display: flex;
    flex-direction: column;
}